<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Jindal Trading | Dashboard</title>

		<!-- Global stylesheets -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900" rel="stylesheet" type="text/css">
		<link href="/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
		<link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	
		<link href="/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css"> 
		<link href="/assets/css/layout.min.css" rel="stylesheet" type="text/css">
		<link href="/assets/css/components.min.css" rel="stylesheet" type="text/css">
		<link href="/assets/css/colors.min.css" rel="stylesheet" type="text/css">
		
		
		<link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/select/2.0.2/css/select.dataTables.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/5.0.0/css/fixedColumns.dataTables.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.dataTables.css">
		<!-- /global stylesheets -->
	
		<!-- Core JS files -->
		<script src="/global_assets/js/main/jquery.min.js"></script>
		<script src="/global_assets/js/main/bootstrap.bundle.min.js"></script>
		<script src="/global_assets/js/plugins/loaders/blockui.min.js"></script>
		<!-- /core JS files -->
	
		<!-- Theme JS files -->
		<script src="/global_assets/js/plugins/visualization/d3/d3.min.js"></script>
		<script src="/global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
		<script src="/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
		<script src="/global_assets/js/plugins/ui/moment/moment.min.js"></script>
		<script src="/global_assets/js/plugins/pickers/daterangepicker.js"></script>
	
		<script src="/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
	
		<script src="/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
		<script src="/global_assets/js/plugins/notifications/pnotify.min.js"></script>
		<script src="/global_assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
	
		<script src="/assets/js/app.js"></script>
		<script src="/global_assets/js/demo_pages/dashboard.js"></script>
		<script src="/global_assets/js/demo_pages/datatables_basic.js"></script>
		<script src="/global_assets/js/demo_pages/form_multiselect.js"></script>
		<!-- /theme JS files -->
		
		<script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
		<script src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.js"></script>
		<script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.dataTables.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
		<script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.print.min.js"></script>
		<script src="https://cdn.datatables.net/select/2.0.2/js/dataTables.select.js"></script>
		<script src="https://cdn.datatables.net/select/2.0.2/js/select.dataTables.js"></script>
		 
</head>

<body>

	<!-- Main navbar -->
	<div class="navbar  navbar-expand-md navbar-dark">
		<div class="navbar-brand">
			<a href="index.html" class="d-inline-block">
				<img src="../../../../global_assets/images/logo_light.png" alt="">
			</a>
		</div>

		<div class="d-md-none">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
				<i class="icon-tree5"></i>
			</button>
			<button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
				<i class="icon-paragraph-justify3"></i>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="navbar-mobile">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
						<i class="icon-paragraph-justify3"></i>
					</a>
				</li>
			</ul>

			<span class="badge bg-success ml-md-3 mr-md-auto">Online</span>

			<ul class="navbar-nav">

				<li class="nav-item dropdown dropdown-user">
					<a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
						<img src="../../../../global_assets/images/demo/users/face11.jpg" class="rounded-circle mr-2" height="34" alt="">
						<span><%=username%></span>
					</a>

					<div class="dropdown-menu dropdown-menu-right">
						<a href="#" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
						<a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Messages <span class="badge badge-pill bg-blue ml-auto">58</span></a>
						<div class="dropdown-divider"></div>
						<a href="/logout" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page content -->
	<div class="page-content">

		<!-- Main sidebar -->
		<div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

			<!-- Sidebar mobile toggler -->
			<div class="sidebar-mobile-toggler text-center">
				<a href="#" class="sidebar-mobile-main-toggle">
					<i class="icon-arrow-left8"></i>
				</a>
				Navigation
				<a href="#" class="sidebar-mobile-expand">
					<i class="icon-screen-full"></i>
					<i class="icon-screen-normal"></i>
				</a>
			</div>
			<!-- /sidebar mobile toggler -->


			<!-- Sidebar content -->
			<div class="sidebar-content">

				<!-- User menu -->
				<div class="sidebar-user">
					<div class="card-body">
						<div class="media">
							<div class="mr-3">
								<a href="#"><img src="../../../../global_assets/images/demo/users/face11.jpg" width="38" height="38" class="rounded-circle" alt=""></a>
							</div>

							<div class="media-body">
								<div class="media-title font-weight-semibold"><%=username%></div>
								<div class="font-size-xs opacity-50">
									<i class="icon-pin font-size-sm"></i> &nbsp;Meerut
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /user menu -->


				<!-- Main navigation -->
				<div class="card card-sidebar-mobile">
					<ul class="nav nav-sidebar" data-nav-type="accordion">

						<li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Main</div> <i class="icon-menu" title="Main"></i></li>
						<li class="nav-item nav-item-submenu">
							<a href="/userDashboard" class="nav-link">
								<i class="icon-home4"></i>
								<span>
									Dashboard
								</span>
							</a>
							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/register" class="nav-link">User-Register</a></li>
							</ul>
							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/registeredUsers" class="nav-link">Register-List</a></li>
							</ul>
						</li>

						<li class="nav-item nav-item-submenu nav-item-expanded nav-item-open">
							<a href="#" class="nav-link active"><i class="icon-copy"></i> <span>Market-Plan</span></a>

							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/marketPlanPigIron" class="nav-link">Create Market-Plan</a></li>
							</ul>
							
							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/marketPlanAllotment" class="nav-link active">Allotment</a></li>
							</ul>
							
							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/marketPlanQuantityLedger" class="nav-link">QuantityLedger</a></li>
							</ul>
							
						</li>

						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Master</span></a>

							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/masterArea" class="nav-link">MasterArea</a></li>
								<li class="nav-item"><a href="/masterCategories" class="nav-link">MasterCategories</a></li>
								<li class="nav-item"><a href="/masterGrade" class="nav-link">MasterGrade</a></li>
								<li class="nav-item"><a href="/masterProducts" class="nav-link">MasterProducts</a></li>
								<li class="nav-item"><a href="/masterProductGroup" class="nav-link">MasterProductGroup</a></li>
								<li class="nav-item"><a href="/masterTeams" class="nav-link">MasterTeams</a></li>
							</ul>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Customers</span></a>
							
							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/masterCustomer" class="nav-link">MasterCustomer</a></li>
								<li class="nav-item"><a href="/masterFirm" class="nav-link">MasterFirm</a></li>
								<li class="nav-item nav-item-submenu ">
									<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Datatables</span></a>
									<ul class="nav nav-group-sub" data-submenu-title="Layouts">
										<li class="nav-item"><a href="/customerContact" class="nav-link">Contact</a></li>
										<li class="nav-item"><a href="/customerCategory" class="nav-link">Categories</a></li>
										<li class="nav-item"><a href="/customerFirm" class="nav-link">Firms</a></li>
										<li class="nav-item"><a href="/customerProduct" class="nav-link">Products</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Transport</span></a>

							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/transportDetails" class="nav-link">Details</a></li>
								<li class="nav-item"><a href="/transportContacts" class="nav-link">Contacts</a></li>
								<li class="nav-item"><a href="/transportStations" class="nav-link">Stations</a></li>
								<li class="nav-item"><a href="/transportTrucks" class="nav-link">Trucks</a></li>
							</ul>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Vendor</span></a>
							
							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/masterVendors" class="nav-link">MasterVendors</a></li>
								<li class="nav-item"><a href="/vendorContacts" class="nav-link">Contacts</a></li>
								<li class="nav-item"><a href="/vendorFirm" class="nav-link">Firm</a></li>
								<li class="nav-item"><a href="/vendorProduct" class="nav-link">Product</a></li>
							</ul>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Employee</span></a>
							
							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/masterEmployee" class="nav-link">MasterEmployee</a></li>
							</ul>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="/contacts" class="nav-link"><i class="icon-copy"></i> <span>Contacts</span></a>
						</li>
					</ul>
				</div>
				<!-- /main navigation -->

			</div>
			<!-- /sidebar content -->
			
		</div>
		<!-- /main sidebar -->


		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Page header -->
			<div class="page-header page-header-light">
				<div class="page-header-content header-elements-md-inline">
					<div class="page-title d-flex">
						<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Market-Plan</span> - Allotment</h4>
						<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
					</div>
				</div>
			</div>
			<!-- /page header -->


			<!-- Content area -->
			<div class="content">

				<!-- Dashboard content -->
				<div class="row">
					<div class="col-md-12">
						<div class="card" style="overflow-x: auto;">
							<div class="card-header header-elements-inline">
								<h5 class="card-title">Allotments</h5>
								
								<div class="header-elements">
									<div class="list-icons">
										<a class="list-icons-item" data-action="collapse"></a>
										<a class="list-icons-item" data-action="reload"></a>
										<a class="list-icons-item" data-action="remove"></a>
									</div>
								</div>
							</div>

							<% if(data.length>0) {%>
    
								<table class="table datatable-basic table-bordered table-striped table-hover" style="table-layout: auto; width: 100%; overflow-x: auto;">
									
									<thead>
										<tr>
                                            <th>Customer Code</th>
                                            <th>Customer Name</th>
                                            <th>Address</th>
                                            <th>Status</th>
                                            <th>Meeting Date</th>
                                            <th>Next Meeting</th>
                                            <th>Meeting Status</th>
                                       
                                         
										 
											<% if(level>2) {%>
												<th>Action</th>
												<!-- <th>Edit</th>
												<th>Delete</th> -->
											<%}else if(level>1){%>
												<th>Edit</th>
											<%}else{%>
											<%}%>
										</tr>
									</thead >
									
									<% for(var i=0; i<data.length; i++) {%>
										<tr class="<%= data[i].serialNumber%>Allotment">
											<%if(level==1) {%>
                                           
											<%} else if(level>2) {%>
                                                <% console.log("Ddddddddddddddddddddddddd" , data[i].dataValues.customerName) %>
                                                <td class="customerId" ><%= data[i].dataValues.customerCode%></td>
                                                <td class="customerId" ><%= data[i].dataValues.customerName%></td>
                                                <td class="phoneNumber" ><%= data[i].dataValues.address%></td>
                                                <td class="phoneNumber" ><%= data[i].dataValues.status%></td>
												<% console.log("Dddddddddddddddddddddddddww" , reportData) %>

												<% 
												let matchFound = false; 
												for (let a = 0; a < reportData.length; a++) { 
													if (reportData[a] && reportData[a].customerId == data[i].customerId) { 
											%>
													<td class="phoneNumber"><%= moment(reportData[a].meetingTime).format('DD/MM/YY') %></td>
											<% 
														matchFound = true; 
														break; // Exit the loop once a match is found
													} 
												} 
												if (!matchFound) { 
											%>
												<td class="phoneNumber">N/A</td>
											<% 
												} 
											%>
											
											<% 
											let match = false; 
											for (let a = 0; a < reportData.length; a++) { 
												if (reportData[a] && reportData[a].customerId == data[i].customerId) { 
										%>
												<td class="phoneNumber"><%= moment(reportData[a].nextMeetingTime).format('DD/MM/YY') %></td>
										<% 
													match = true; 
													break; // Exit the loop once a match is found
												} 
											} 
											if (!match) { 
										%>
											<td class="phoneNumber">N/A</td>
										<% 
											} 
										%>


												<!-- <% for (var a = 0; a < reportData.length; a++) { %>
																
													<td class="phoneNumber">
														<% 
														  let found = false;
														  if (reportData[a] && reportData[a].customerId == data[i].customerId) { 
															  if (reportData[a].meetingTime) { 
														%>
																  <%= moment(reportData[a].nextMeetingTime).format('DD/MM/YY') %>
														<% 
																  found = true;
															  }
														  }
														  if (!found) { 
														%>
															  N/A
														<% 
														  } 
														%>
													  </td>
													  
												 
												<% } %> -->

 												<% 
												let matchStatus = false; 
												for (let a = 0; a < reportData.length; a++) { 
													if (reportData[a] && reportData[a].customerId == data[i].customerId) { 
											%>
													<td   class="meetingStatus badge badge-secondary success"><%= reportData[a].meetingStatus %></td>
											<% 
														matchStatus = true; 
														break; // Exit the loop once a matchStatus is found
													} 
												} 
												if (!matchStatus) { 
											%>
												<td class="phoneNumber">N/A</td>
											<% 
												} 
											%>
											 
												<%= console.log("dataaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa , " , data[i].dataValues.allotmentId) %>
												  <td>
													<!-- <a href="/marketPlanAllotment/<%= data[i].dataValues.allotmentId %>"><button>View</button></a>
                                                    <button onclick="edit('<%= data[i].serialNumber%>Allotment')" name="foo" value="check" >Edit</button>
                                                    <button onclick="del('<%= data[i].serialNumber%>')" name="foo" value="check" >Delete</button> -->
														<button type="button" class="btn btn-success" onclick="viewCustomer('<%= data[i].customerId%>' )" data-toggle="modal" data-target="#exampleModal">
														Create Report
													</button>
													<% 
													for (let a = 0; a < reportData.length; a++) { 
														if (reportData[a] && reportData[a].customerId == data[i].customerId) { 
												%>
													<select name="meetingStatus" id="meetingStatus">
														<option value="PENDING" <%= reportData[a].meetingStatus === 'PENDING' ? 'selected' : '' %>>Pending</option>
														<option value="APPROVED" <%= reportData[a].meetingStatus === 'APPROVED' ? 'selected' : '' %>>Approved</option>
														<option value="CANCEL" <%= reportData[a].meetingStatus === 'CANCEL' ? 'selected' : '' %>>Cancel</option>
													</select>
													<button type="button" class="btn btn-primary" onclick="sendApproved('<%= reportData[a].reportId %>')">
														Send
													</button>
												<% 
															break;  
														} 
													} 
												%>
												
												
		
												

													<a href="/getreport/<%= data[i].customerId%>"><button>Report</button></a>
                                                    <!-- <button onclick="edit('<%= data[i].allotmentId%>')" name="foo" value="check" >View</button> -->
                                                </td>
 												<!-- <td>
                                                    <button onclick="edit('<%= data[i].serialNumber%>Allotment')" name="foo" value="check" >Edit</button>
                                                </td>
                                                <td>
                                                    <button onclick="del('<%= data[i].serialNumber%>')" name="foo" value="check" >Delete</button>
                                                </td> -->
											<%}else if(level>1){%>
                                                <td class="customerId" ><%= data[i].customerId%></td>
                                                <td class="phoneNumber" ><%= data[i].phoneNumber%></td>
											 
											 
                                                <td class="representative" ><%= data[i].representative%></td>
                                                <td class="meetingDates" ><%= data[i].meetingDates%></td>
                                                <td class="currentIssue" ><%= data[i].currentIssue%></td>
                                                <button onclick="edit('<%= data[i].serialNumber %>Allotment')" name="foo" value="check" >Edit</button>
                                                </td>
											<%}%>
										</tr>
									<% } %>
								</table>
							
							<%}else{%>
								<h4>No data</h4>
							<%}%>


								
									




							
							<!-- Vertical form modal -->
							<div id="modal_form_vertical" class="modal fade" tabindex="-1">
							
					            <div class="modal-dialog">
						            <div class="modal-content">
							            <div class="modal-header">
								            <h5 class="modal-title">New Allotment </h5>    
								            <button type="button" class="close" data-dismiss="modal">&times;</button>
							            </div>

							            <form action="/marketPlanAllotment" method="POST">
								            <div class="modal-body">
									            <div class="form-group">
										            <div class="row">
											            <div class="col-sm-6">
												            <label>customerId </label>
												            <input type="text" placeholder="customerId" class="form-control customerId" name="customerId" id="customerId">
											            </div>
											            
											            <div class="col-sm-6">
												            <label>phoneNumber </label>
												            <input type="text" placeholder="phoneNumber" class="form-control phoneNumber" name="phoneNumber" id="phoneNumber">
											            </div>
                                                        
										            </div>
									            </div>
                                                
									            <div class="form-group">
                                                    <div class="row">
                                                      
                                                    
                                                            
                                                    </div>
                                                </div>
                                                        
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <label>representative </label>
                                                            <input type="text" placeholder="representative" class="form-control representative" name="representative" id="representative">
                                                        </div> 

                                                        <div class="col-sm-6">
                                                            <label>meetingDates </label>
                                                            <input type="text" placeholder="meetingDates" class="form-control meetingDates" name="meetingDates" id="meetingDates">
                                                        </div>                                
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <label>currentIssue </label>
                                                            <input type="text" placeholder="currentIssue" class="form-control currentIssue" name="currentIssue" id="currentIssue">
                                                        </div>                              
                                                    </div>
                                                </div>
									            
								            </div>

								            <div class="modal-footer">
									            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
									            <button type="submit" class="btn bg-primary">Add</button>
								            </div>
							            </form>
						            </div>
					            </div>
				            </div>


						

			            </div>
		            </div>
					
		        </div>
				<!-- /dashboard content -->

			</div>
			<!-- /content area -->


			<!-- Footer -->
			<!-- /footer -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->


	<!-- veiw customer modal -->
	 <!-- Modal -->
<div class="modal fade "  id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
	  <div class="modal-content" style="background-color: beige; padding: 20px;">
		<div class="modal-header">
			<div class="col-12 d-flex">
				<!-- <div class=" w-100  p-2 shadowlg" style="background-color: #7d94f2; color: white; box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;">MarketPlan Details</div>	 -->
				<button type="button" class="close"   data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
			</div>
		
		</div>
		<div class="modal-body" id="customModalBody" >
		  <!-- Content goes here -->
		  <div class="row">
			 

			
		 

			<div class="col-12 p-4" style="background-color: white;border-left: 5px solid  beige;">
				<div class="col-12">
					<div class="w-100 p-1" style="background-color: #ffb703 ; color: white; border-radius: 8px;box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;">Meeting Details</div>	
					<div class=" w-100 d-flex justify-content-around align-items-center  p-3">
							 <strong>Meeting Date :-</strong> <input type="date" required  class="shadowlg" name="current-date" >  <br>
							 <strong>Next Meeting Date :-</strong> <input type="date"   name="next-date"  class="shadowlg"	  >  <br>
 							  
					</div>
			</div>

			<div class="col-12 my-3">
				<div class="w-100 p-1" style="background-color: #ffb703; color: white; border-radius: 8px; box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;">Report Details</div>	
				<div class="w-100 d-flex flex-column justify-content-start align-items-start p-3 report-container">
			 
					
				 <div class="input-group mb-3">
					<div class="input-group-prepend">
						<label class="input-group-text" for="inputGroupSelect01"><strong>Report :</strong> </label>
					  </div>
			 
					<textarea class=" form-control"   rows = "4"    name="Report"   id="report"  ></textarea>  
				</div>
		</div>
 
   			<div class="col-12 my-3">
				<div class="w-100 p-1" style="background-color: #ffb703; color: white; border-radius: 8px; box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;">Issue Details</div>	
				<div class="w-100 d-flex flex-column justify-content-start align-items-start p-3 report-container">
					
					<div class="input-group mb-3">
						<div class="input-group-prepend">
						  <label class="input-group-text" for="inputGroupSelect01"><strong>Issue :</strong> </label>
						</div>
				 

					<textarea class="form-control"  rows = "4"   name="Issue"   id="report" style="display: block;text-align: left!important; "></textarea>  
				</div>
		</div>
	 

 
		</div>
		<button type="button" class="btn btn-success" onclick="AddReport()"   >
			Add 
		</button>
		  </div>
		</div>
		 
	  </div>
	</div>
  </div>
</div>
</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	


<script>

function sendApproved(reportId) {
    // Retrieve the meetingStatus from the DOM using the reportId
    const meetingStatus = document.getElementById(`meetingStatus`).value

    console.log(reportId, "reportId");
    console.log(meetingStatus, "meetingStatus");

    $.ajax({
        url: "/updateReport",
        type: "PUT",
        data: {
            reportId: reportId,
            meetingStatus: meetingStatus
        },
        success: function (data, status) {
            console.log("Response data:");
            console.log(data);
            console.log(status);
			window.location.reload(); // Correct method to reload the page

        },
        error: function (xhr, status, error) {
            console.error("Error:", error);
        }
    });
}

$('#exampleModal').on('show.bs.modal', function (event) {
	
	let modal = $(this);
	console.log(modal)
	modal.find('#customeridReport').remove();
	modal.find('#customModalBody').append(`<div style="display:none;"  id="customeridReport">${customerId}</div>`);

})
function viewCustomer(customerId) {


            $('#exampleModal').on('show.bs.modal', function (event) {
				
                let modal = $(this);
				console.log(modal)
				modal.find('#customeridReport').remove();
				modal.find('#customModalBody').append(`<div style="display:none;"  id="customeridReport">${customerId}</div>`);
            });
        }


	function AddReport(){
		let reportValue = $('textarea[name="Report"]').val();
		let issueValue = $('textarea[name="Issue"]').val();
		let nextDate = $('input[type="date"][name="next-date"]').val();
		let currentDate = $('input[type="date"][name="current-date"]').val();
		let customerId = $('#customeridReport').text();
		let empId = <%- JSON.stringify(empId) %>;

 		console.log(reportValue , issueValue ,nextDate,currentDate    ,customerId  , empId)

		$.post("/createreport",
            {
              
                report:reportValue,
				meetingTime : currentDate,
				nextMeetingTime : nextDate,
				issue : issueValue,
				customerId  ,
				empId,

				 
            },
            function (data, status) {
                console.log("check edit wala data");
                console.log(data);
                console.log(status);
				$('#exampleModal').modal('hide');
				location.reload();
            }
            );


		
	}
</script>

<script>
    function edit(value)
    {
        console.log(`EDIT  ${value}`);
        var sub = 'Allotment';
        var result = value.replace(sub,'');
        console.log(result);
        
        $('.'+value).each(function() 
        {
            console.log("new yr");
            var customerId = $(this).find(".customerId").html();   
            var phoneNumber = $(this).find(".phoneNumber").html();   
            var area = $(this).find(".aSelect").val();    
            var product = $(this).find(".pSelect").val();    
            var representative = $(this).find(".representative").html();     
            var meetingDates = $(this).find(".meetingDates").html();     
            var currentIssue = $(this).find(".currentIssue").html();     
            console.log(customerId);
            console.log(phoneNumber);
            console.log(area);
            console.log(product);
            console.log(representative);
            console.log(meetingDates);
            console.log(currentIssue);
            console.log("ujjwal");
            $.post("/marketPlanAllotment",
            {
                id: result,
                customerId:customerId,
                phoneNumber:phoneNumber,
                area: area,
                product:product,
                representative: representative,
                meetingDates: meetingDates,
                currentIssue: currentIssue,
                op:"edt"
            },
            function (data, status) {
                console.log("check edit wala data");
                console.log(data);
                console.log(status);
            }
            );
        });
    }
    
</script>

<script>
    
    function del(value)
    {
        console.log(value);
        $.post("/marketPlanAllotment",
            {
                id: value,
                op:"del"
            },
            function (data, status) {
                console.log(data);
                console.log(status);
            }
            );
    }

	
</script>


</script>
</body>

</html>